@model IJustWatched.Models.Review

@{
    ViewBag.Title = "I Just Watched";
    Layout = "_Layout";
}

<div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">@Model.ReviewTitle</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">@Model.Author.UserName</a>
          on <b>@Model.ReviewFilm.Title</b>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on @Model.CreationDateTime.ToString("HH:mm dd/MM/yyyy")</p>

        <hr>

        <!-- Post Content -->
        <markdown>@Model.Content</markdown>

        <hr>

        <!-- Comments Form -->
        <partial name="_NewComment"/>
        
        @await Component.InvokeAsync("Comments", new { reviewId = @Model.Id })

</div>
