@model IJustWatched.Models.Review

@{
    ViewBag.Title = "I Just Watched";
    Layout = "_Layout";
}

<div class="col-lg-auto" style="align-items:center">

        <!-- Title -->
        <h1 class="mt-4">@Model.ReviewTitle</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a asp-controller="User" asp-action="Index" asp-route-userId="@Model.Author.Id">
              @Model.Author.UserName
          </a>
          on <a asp-controller="Film" asp-action="Index" asp-route-filmId="@Model.ReviewFilm.Id">
              @Model.ReviewFilm.Title
          </a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on @Model.CreationDateTime.ToString("HH:mm dd/MM/yyyy")</p>

        <hr>
        
        @await Component.InvokeAsync("Tags", new { reviewId = Model.Id })

        <!-- Post Content -->
        <markdown>@Model.Content</markdown>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form method="post" asp-controller="Review" asp-action="Index" asp-route-commentedReviewId="@Model.Id">
                <div class="form-group">
                    <textarea name="commentContent" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
             </div>
        </div>
        
        @await Component.InvokeAsync("Comments", new { reviewId = @Model.Id })

</div>
