@model IJustWatched.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="@Model.User.PhotoUrl" style="width: 13em; height: 13em" alt="User photo">
      <div class="card-body">
        <h4 class="card-title">@Model.User.UserName</h4>
        <div class="row">
            <button type="button" class="btn btn-default" id="btnFollowers">@Model.FollowersCount followers</button>
            <button type="button" class="btn btn-default" id="btnFollowing">@Model.FollowingCount following</button>
        </div>
        <hr/>
        @if (Model.IsCurrentUserPage == false)
        {
          <a href="#" class="btn btn-outline-primary">+ Subscribe</a>
        }
        else
        {
          <a href="#" class="btn btn-outline-dark">Edit</a>
        }
      </div>
    </div>
  </div>
  <div class="col-sm-9">
       @if (Model.Reviews.Count != 0)
        {
          <h3 style="text-align: center">Posts</h3>
            <div class="col-lg-auto col-md-10 mx-auto">
                @foreach (var post in Model.Reviews)
                {
                    <partial name="_ReviewListItem" for="@post"/>
                }

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts →</a>
                </div>
            </div>
        }
        else
        {
            <h4 style="text-align: center">There's no posts yet</h4>
        }
  </div>
</div>

<!-- Modal Followers -->
<div class="modal fade" id="modalFollowers" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Followers</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow-y:auto">
          @if (Model.FollowingCount == 0)
          {
            <p>List is empty</p>
          }
          else
          {
            @foreach (var follower in Model.Followers)
            {
              <div class="media mb-3">
                <img class="d-flex mr-3 rounded-circle" src="@follower.PhotoUrl" alt="" style="width: 2em; height: 2em">
                <div class="media-body">
                  <a asp-controller="User" asp-action="Index" asp-route-userId="@follower.Id"
                     style="color: black">
                    @follower.UserName
                  </a>
                </div>
              </div>
            }
          }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Following -->
  <div class="modal fade" id="modalFollowing" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Following</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="overflow-y:auto">
          @if (Model.FollowingCount == 0)
          {
            <p>List is empty</p>
          }
          else
          {
            @foreach (var following in Model.Following)
            {
              <div class="media mb-3">
                <img class="d-flex mr-3 rounded-circle" src="@following.PhotoUrl" alt="" style="width: 2em; height: 2em">
                <div class="media-body">
                  <a asp-controller="User" asp-action="Index" asp-route-userId="@following.Id"
                     style="color: black">
                    @following.UserName
                  </a>
                </div>
              </div>
            }
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function(){
  $("#btnFollowers").click(function(){
    $("#modalFollowers").modal();
  });
  
  $("#btnFollowing").click ( function() {
    $("#modalFollowing").modal();   
  });
});
</script>