@model IEnumerable<Comment>

@foreach (var comment in @Model)
{
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="@comment.Author.PhotoUrl" alt="" style="width: 3em; height: 3em">
        <div class="media-body">
            <h5 class="mt-0">
                <a asp-controller="User" asp-action="Index" asp-route-userId="@comment.Author.Id" 
                   style="color: black">
                    @comment.Author
                </a>
            </h5>
            <p>@comment.CreationDateTime.ToString("HH:mm dd/MM/yyyy")<p/>
            <p>
                @comment.Content
            </p>
        </div>
    </div>
}

