@using System.Globalization
@model IEnumerable<Comment>

@foreach (var comment in Model)
{
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="@comment.Author.PhotoUrl" alt="" style="width: 3em; height: 3em; object-fit: cover">
        <div class="media-body">
            <h5 class="mt-0">
                <a asp-controller="User" asp-action="Index" asp-route-userId="@comment.Author.Id" 
                   style="color: black">
                    @comment.Author
                </a>
            </h5>
            @if (User.IsInRole("moderator") || User.Identity.Name == comment.Author.UserName)
            {
                <div class="row justify-content-between">
                    <div class="col-3">
                        <p>@comment.CreationDateTime.ToString(CultureInfo.CurrentCulture)<p/>
                    </div>
                    <div class="col-3">
                        <a href="/deleteComment/@comment.Id" type="button" class="close">&times;</a>
                    </div>
                </div>
            }
            else
            {
                <p>@comment.CreationDateTime.ToString(CultureInfo.CurrentCulture)</p>    
            }
            <p>
                @comment.Content
            </p>
        </div>
    </div>
}

