@model IJustWatched.Models.Film

<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <img class="bd-placeholder-img card-img-left" width="90" height="142" src="@Model.PosterURL" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt=""/>
                </div>
                <div class="col-6">
                    <h4 class="card-text" style="max-lines: 2; word-wrap: normal">@Model.Title</h4>
                    <p class="card-subtitle">By @Model.Directors</p>
                    <p class="mt-2">Released: @Model.ReleaseDate.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                            asp-controller="Film" asp-action="Index" asp-route-filmId="@Model.Id">
                        View
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       asp-controller="Review" asp-action="New" asp-route-filmTitle="@Model.Title">
                        Write review
                    </a>
                    @if (User.IsInRole("admin"))
                    {
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>